.Pacifico-font {
  --pico-font-family: Pacifico, cursive;
}

.Pacifico-font-large-100 {
  --pico-font-family: Pacifico, cursive;
  font-size: 2rem;
  text-align: center;
  font-weight: 100;
}
.Pacifico-font-large-400 {
  --pico-font-family: Pacifico, cursive;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
}

.social-icons {
  object-fit: contain;
  object-position: 0px 0px;
  width: 1rem;

  padding-left: 3px;

  filter: none;
}
[data-theme="dark"] {
  .social-icons {
    filter: invert(100%);
  }
}

.logo-left {
  background-image: url(../img/munamii-logo.png);
  background-position: left;
  background-size: contain;
}

.nav-tree-products {
  font-size: initial;
}

.grid-products-list {
  grid-template-columns: repeat(auto-fill, 30ch);
  justify-content: center;
}

.product-card {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 0 0 0;

  img {
    object-fit: contain;
    object-position: 0px 0px;
    width: fit-content;
  }
}
.displayOnMobile {
  display: none;
}

.nav-header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--pico-card-background-color);
  margin-bottom: 0px;
  padding: 1px;
  border-radius: var(--pico-border-radius);
  box-shadow: var(--pico-box-shadow);
}

.section-max-width {
  width: 100%;
  max-width: 1024px;
}

.center-span a {
  padding: 0 0 0 0.5rem;
}

@media screen and (max-width: 500px) {
  .hideOnMobile {
    display: none;
  }
  .displayOnMobile {
    display: contents;
  }
}

@media screen and (max-width: 400px) {
  .hideTheme {
    display: none;
  }
}
/* gap */
