.Pacifico-font {
  --pico-font-family: Pacifico, cursive;
}

.Pacifico-font-large-100 {
  --pico-font-family: Pacifico, cursive;
  font-size: 2rem;
  text-align: center;
  font-weight: 100;
}
.Pacifico-font-large-400 {
  --pico-font-family: Pacifico, cursive;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
}
h1 {
  --pico-font-family: Pacifico, cursive;
  --pico-font-weight: 400;
  --pico-typography-spacing-vertical: 0.5rem;
}

.nav-logo-middle {
  background-image: url(../img/munamii-logo.png);
  background-position: center;
  background-size: contain;
}
.logo-middle {
  background-image: url(../img/munamii-logo.png);
  background-position: left;
  background-size: contain;
}

.nav-tree-products {
  font-size: initial;
}

.grid-products-list {
  grid-template-columns: repeat(auto-fill, 40ch);
  justify-content: center;
}

.product-card {
  display: grid;
  grid-template-columns: 1fr;

  img {
    object-fit: contain;
    object-position: 0px 0px;
    width: fit-content;
  }
}
/* gap */
